/* BODY AND TEXT STYLING */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: mintcream;
}

main {
    background-color: mintcream;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

h2 {
    margin: 0px;
}

/* HEADER STYLING */
header {
    align-items: center;
    background-image: url('images/PPJ-Header_Eucalyptus-101_AdobeStock_147477090.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#logoCompany {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(245, 255, 250, 0.5);
    width: 500px;
}

#address {
    margin: 15px;
    padding: 15px;
}

.icon {
    width: 150px;
    height: 150px;
    margin: 15px;
}

/* FORM STYLING  */
#addKoala {
    border: 3px solid goldenrod;
    margin: 20px;
    padding: 30px;
}

input {
    margin: 20px 0px;
}

select {
    margin: 10px 0px;
}

#addButton {
    margin: 10px;
}

#required-el {
    display: block;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    #koala-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #addKoala {
        width: 80%;
    }

    input {
        width: 90%;
        margin: 5px;
    }

    select {
        width: 91%;
        margin: 5px;
    }

    #addButton {
        width: 93%;
        margin: 5px;
    }
}

sup {
    color: red;
    padding: 0px 5px 0px 0px;
}

#addButton {
    margin: 15px 0px;
}

/* TABLE STYLING */
table {
    border: 1px solid darkolivegreen;
    border-collapse: collapse;
}

th {
    border-right: 1px solid white;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
    background-color: darkolivegreen;
    color: white;
}

td {
    border: 1px solid darkolivegreen;
    border-collapse: collapse;
    width: 150px;
    padding: 5px;

}

td:nth-child(2) {
    width: 50px;
}

td:nth-child(4) {
    width: 75px;
}

td:nth-child(5) {
    width: 300px;
}

td:nth-child(6) {
    width: auto;
}

td:nth-child(7) {
    width: auto;
}

td:nth-child(8) {
    width: auto;
}

tr:nth-child(odd) {
    background-color: lavenderblush;
}

tr:nth-child(even) {
    background-color: mintcream;
}

/* ERROR STYLING */
.error {
    border: 1px solid red;
}

#errorValidation {
    color: red;
}